<!--<%= link_to "Miekka", root_path, :class => 'brand' %>--!>
<ul class="nav pull-left">
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>       
    </li>
  <% else %>
    <!-- <li>
    <%= link_to 'Login', new_user_session_path %>
    </li> --!>
  <% end %>
  <% if user_signed_in? %>
    <li>
    <%= link_to 'Edit account', edit_user_registration_path %>
    </li>
    <% if current_user.has_role? :admin %>
      <li>
      <%= link_to 'Users', users_path %>
      </li>
    <% end %>
  
  <% end %>
</ul>
<ul class="nav pull-right" style="margin-top:2px;">
	<%= link_to image_tag("facebook.png"), "http://www.facebook.com/MiekkaSocial" %>
	<%= link_to image_tag("twitter.png"), "https://twitter.com/MiekkaMacArthur" %>
	<%= link_to image_tag("pinterest.png"), "http://pinterest.com/MiekkaMacArthur/" %>
</ul>
