<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title><%= content_for?(:title) ? yield(:title) : "Miekka | Handmade in Italy" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Miekka web store" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
<div id="fb-root"></div>
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '305729149533774', // App ID
      channelUrl : 'http://ntino.herokuapp.com', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

// Additional init code here
FB.getLoginStatus(function(response) {
    if (response.status === 'connected') {
        // connected
    } else if (response.status === 'not_authorized') {
        // not_authorized
        login();
    } else {
        // not_logged_in
        login();
    }
});
};
function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
        } else {
            // cancelled
        }
    });
}
    

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
	  
	  <!--<header> 
	  </header>--!>
    <div id="main" role="main">
      <div class="container">
            <div class="span12" style="margin-left:0;">
              <%= render 'layouts/messages' %>
              <%= yield %>
            
          <footer class="navbar navbar-fixed-bottom">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/footer-navigation' %>
        </div>
      </nav>
          </footer>
        </div>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
  </body>
</html>
